<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--css easyui-->
    <link rel="stylesheet" type="text/css" href="plugin/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="plugin/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="plugin/easyui/demo.css">
    <script type="text/javascript" src="plugin/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="plugin/easyui/jquery.easyui.min.js"></script>
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <!-- Title  -->
    <title>Masjid Syukur</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">


</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preload-content">
            <div id="world-load"></div>
        </div>
    </div>
    <!-- Preloader End -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg">
                        <!-- Logo -->
                        <a class="judul" href="index2.html"><img src="img/core-img/logo2.png" alt="Logo"></a>
                        <!-- Navbar Toggler -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#worldNav" aria-controls="worldNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <!-- Navbar -->
                        <div class="collapse navbar-collapse" id="worldNav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="index2.html">Beranda <span class="sr-only">(current)</span></a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tentang</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="visiMisi.html">Visi Misi</a>
                                        <a class="dropdown-item" href="bid-sosma.html">Struktur Organisasi</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="donatur.html">Donatur</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="kajian.html">Kajian</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="program-unggulan.html">program<br>unggulan</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="laporan-keuangan.html">Laporan<br>Keuangan</a>
                                </li>
                            </ul>
                            <!-- Search Form  -->
                            <div id="search-wrapper">
                                <form action="#">
                                    <input type="text" id="search" placeholder="Search something...">
                                    <div id="close-icon"></div>
                                    <input class="d-none" type="submit" value="">
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ********** Hero Area Start ********** -->
    <div class="hero-area height-400 bg-img background-overlay" style="background-image: url(img/blog-img/bg4.jpg);"></div>
    <!-- ********** Hero Area End ********** -->

    <section class="contact-area section-padding-100">

        <div class="container">
            <h2>Informasi Donatur</h2>
            <div class="row justify-content-center">
                <!-- Contact Form Area -->
                <div class="easyui-accordion" style="width:1200px;height:500px;">
                    <div title="Info Donatur" data-options="iconCls:'icon-help'" style="overflow:auto;padding:10px;">
                        <p style="color:rgb(16, 66, 99); font-size: 35px; font-weight: 700px"><b>&nbsp;Informasi Donatur</b></p>
                        <p style="color: black;font-size: 16px">Donatur dapat dikirim melalui beberapa cara : </p>
                        <p style="color: black;font-size: 16px"><i class="fas fa-mosque" style="color: black;letter-spacing: 3px;"></i> Kirim langsung ke <a href="https://goo.gl/maps/9BB5sSeuqbZJX3D56">masjid syukur ampel</a>
                            <p style="color: black;font-size: 16px">&nbsp; &nbsp;&nbsp;&nbsp;Dusun 2, Kaligentong, Kec. Ampel, Kabupaten Boyolali, Jawa Tengah 57352</p>
                        </p>
                        <p style="color: black;font-size: 16px"><i class="far fa-credit-card" style="color: black;letter-spacing: 3px;"></i> Nomor Rekening : <br>
                            <h5 style="color:rgb(16, 66, 99)">&nbsp; &nbsp;&nbsp;2215-XXXX-XXX-XX</h5>
                        </p>
                        <p style="color: black;font-size: 16px"><i class="fas fa-phone-square" style="color: black;letter-spacing: 3px;"></i> Konfirmasi donasi : <br>
                            <p style="color: black;font-size: 16px">&nbsp; &nbsp;&nbsp;konfirmasi dengan mengirim bukti transfer ke nomor dibawah ini </p>
                            <h5 style="color:rgb(16, 66, 99)">&nbsp; &nbsp;&nbsp;0823-xxx-xxxx</h5>
                        </p>

                    </div>
                    <div title="Penyaluran Donasi" data-options="iconCls:'icon-ok'" style="padding:10px;">
                        <p style="color:rgb(16, 66, 99); font-size: 35px; font-weight: 700px"><b>&nbsp;Penyaluran Donasi</b></p>
                        <p style="color: black;font-size: 16px">Donasi yang diterima oleh Masjid Syukur Ampel akan di salurkan pada pihak-pihak yang membutuhkan, diantaranya : </p>
                        <button class="button-donasi" style="vertical-align:middle"><span>Panti Asuhan</span></button><br>
                        <button class="button-donasi" style="vertical-align:middle"><span>Duafa</span></button><br>
                        <button class="button-donasi" style="vertical-align:middle"><span>Korban Bencana</span></button>
                    </div>

                    <div title="TreeMenu" data-options="iconCls:'icon-search'" style="padding:10px 0;">

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="footer-single-widget">
                        <a class="judul" href="index.html"><img src="img/core-img/logo2.png" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="footer-single-widget">

                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="footer-single-widget">
                        <h5>Contact Us</h5>

                        <i class="fa fa-envelope" style='color:white'></i>&nbsp;&nbsp;
                        <i class="fab fa-twitter" style='color:white'></i>&nbsp;&nbsp;
                        <i class="fab fa-whatsapp" style='color:white'></i>&nbsp;&nbsp;
                        <a href="https://goo.gl/maps/9BB5sSeuqbZJX3D56"><i class="fas fa-map-marker-alt" style='color:white'></i></a>

                    </div>

                </div>
            </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <!-- Google Maps: If you want to google map, just uncomment below codes -->
    <!--
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
    <script src="js/map-active.js"></script>
    -->

</body>

</html>